<div class="container">
  <div class="row section">
    <div class="col s12 center-align">
      <%= image_tag 'materialdesign_introduction.png', class: 'responsive-img' %>
      <h3>Qu'est-ce que le Material Design ?</h3>
    </div>
  </div>
  <div class="row section">
    <div class="col s10 offset-s1 l6 offset-l3">
      <blockquote style="text-align: justify">Créé et conçu par <b><em>Google</em></b>, le <b><em>Material Design</em></b> est un langage de conception similaire à <b><em>Bootstrap</em></b> et intégrant des principes de design propres à <b><em>Google</em></b>. Le but étant de développer une expérience utilisateur unifiée au travers de leurs produits sur n'importe quelle plateforme.</blockquote>
    </div>
  </div>
  <div class="row section">
    <div class="col s12 l4 intro-card">
      <%= image_tag 'materialdesign_principles_metaphor.png', class: 'responsive-img' %>
      <h5 class="center-align section">Material est une métaphore</h5>
      <p style="text-align: justify">La metophore du Materail design est celle d'un espace rationalisé et d'un système de mouvement unifié. Le material design est fondé sur la réalité tactile, inspiré par l'étude du papier et de l'encre, mais technologiquement avancé et ouvert à l'imagination et à la magie.</p>
      <p style="text-align: justify">Les surfaces et les bords de material fournissent des repères visuels fondés sur la réalité. L'utilisation d'attributs tactiles familiers aide les utilisateurs à comprendre rapidement les avantages. Pourtant, la flexibilité de material crée de nouvelles possibilités qui remplacent celles du monde physique, sans violer les règles de la physique.</p>
      <p style="text-align: justify">Les fondamentaux de la lumière, de la surface et du mouvement sont essentiels pour transmettre comment les objets se déplacent, interagissent et existent dans l'espace les uns par rapport aux autres. L'éclairage réaliste montre les coutures, divise l'espace et indique les pièces mobiles.</p>
    </div>
    <div class="col s12 l4 intro-card">
      <%= image_tag 'materialdesign_principles_bold.png', class: 'responsive-img' %>
      <h5 class="center-align section">Gras, graphique, intentionnel</h5>
      <p style="text-align: justify">Les éléments fondamentaux de la conception imprimée - typographie, grilles, espace, échelle, couleur et utilisation de l'imagerie - guident les traitements visuels. Ces éléments font beaucoup plus que de faire plaisir aux yeux. Ils créent la hiérarchie, la signification et la mise au point. Les choix de couleurs délibérés, les images de bord à bord, la typographie à grande échelle et l'espace blanc intentionnel créent une interface graphique et audacieuse qui plonge l'utilisateur dans l'expérience.</p>
      <p style="text-align: justify">L'accent mis sur les actions utilisateurs rend les fonctionnalités essentielles immédiatement apparentes et fournit des points de passages pour l'utilisateur.</p>
    </div>
    <div class="col s12 l4 intro-card">
      <%= image_tag 'materialdesign_principles_motion.png', class: 'responsive-img' %>
      <h5 class="center-align section">Le mouvement fourni un sens</h5>
      <p style="text-align: justify">Le mouvement respecte et renforce l'utilisateur comme moteur principal. Les actions des utilisateurs primaires sont des points d'inflexion qui initient le mouvement, transformant l'ensemble du design.</p>
      <p style="text-align: justify">Toutes les actions se déroulent dans un environnement unique. Les objets sont présentés à l'utilisateur sans compromettre la continuité de l'expérience, même s'ils se transforment et se réorganisent.</p>
      <p style="text-align: justify">Le mouvement est significatif et approprié, servant à attirer l'attention et à maintenir la continuité. Les feedbacks sont subtils mais clairs. Les transitions sont efficaces mais cohérentes.</p>
    </div>
  </div>
  <div class="row section">
    <div class="col s12 center-align">
      <h3>L'environement Material Design</h3>
    </div>
  </div>
  <div class="row section">
    <div class="col s12 m6">
      <h5>Material est un environnement en 3 dimenssions</h5>
      <p>Tout objet Material dispose de dimensions X, Y et Z.</p>
      <p>Tout objet Material n'as qu'une seule position Z.</p>
      <p>Les key light créent des ombres directionnelles et les lumière embiantes créent des ombres douces. </p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'what_is_material_environment.png', class: 'responsive-img' %>
    </div>
  </div>
  <div class="row section">
    <div class="col s12 m6">
      <h5>3D world</h5>
      <p>Material est un environement 3D, ce qui signifie que tout objet dispose de trois dimenssions, X, Y et Z, l'axe Z est perpendiculaire au plan de l'affichage, l'axe Z+ allant vers l'utilisateur.</p>
      <p>Chaque feuille de material n'occupe qu'un seul plan sur l'axe Z et à une épaisseur standard de 1dp, équivalent à <a href="https://material.io/guidelines/layout/units-measurements.html#">1px d'épaisseur</a> sur un écran d'une densité de 160dpi</p>
    </div>
    <div class="col s12 m6">
      <%= image_tag 'whatismaterial_environment_3d.png', class: 'responsive-img' %>
    </div>
  </div>
  <div class="row section">
    <div class="col s12">
      <h5>Ombres et lumières</h5>
      <p>Dans l'environement material, les lumière virtuelles illumines la scène, les key light créent les ombres directionnelles, pendant que les lumières d'ambiance créent les ombres douces sur tous les angles.</p>
      <p>Les ombres sont projetées par ces deux sources de lumières. En développement android, les ombres apparaissent quand une source de lumière est bloquée par une feuille de materiel à différentes position sur l'axe Z. En dévelloppement web, les ombres sont représentées en manipulant l'axe Y seulement.</p>
      <p>Les exemples suivant montrent une card avec une hauteur de 6dp.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 section">
      <%= image_tag 'whatismaterial_environment_shadow1.png', class: 'responsive-img' %>
      <p>Ombre générée par une key light</p>
    </div>
    <div class="col s12 m4 section">
      <%= image_tag 'whatismaterial_environment_shadow2.png', class: 'responsive-img' %>
      <p>Ombre générée par la lumière ambiante</p>
    </div>
    <div class="col s12 m4 section">
      <%= image_tag 'whatismaterial_environment_shadow3.png', class: 'responsive-img' %>
      <p>Ombres par key light et lumière ambiante combinées</p>
    </div>
  </div>
</div>
